APP_HOST=127.0.0.1
APP_PORT=8000
APP_DEBUG=true
WORKERS=1
UVICORN_RELOAD=false
ENVIRONMENT=dev
SECRET_KEY=your-secret-key
POSTGRES_USER=your-user-name
POSTGRES_PASSWORD=your-password
POSTGRES_DB=your-db-name
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
ACCESS_TOKEN_EXPIRE_HOURS=1
REFRESH_TOKEN_EXPIRE_DAYS=1
SMTP_SERVER=your-smtp-server
SMTP_PORT=your-smtp-port
SMTP_USERNAME=your-smtp-username
SMTP_PASSWORD=your-smtp-password
APP_URL=your-server-url
DEPLOY_WEBHOOK_TOKEN=your-deploy-web-hook