colorlog==6.10.1
dramatiq[redis]==1.15.0
fastapi==0.121.0
httpx==0.28.1
numpy==1.26.4
opencv-contrib-python==4.10.0.84
paddleocr==3.3.1
paddlepaddle==3.0.0
pillow==12.0.0
pydantic==2.12.3
pytest-asyncio==0.24.0
pytest-cov==6.0.0
pytest==8.4.2
python-dotenv==1.0.1
python-multipart==0.0.20
redis==5.2.1
requests==2.32.5
starlette==0.49.3
uvicorn==0.38.0
